@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  background-color: var(--white-color);
  margin:0px;
}

* {
  margin:0;
}

@media (max-device-width: 480px){
  :root {
    font-size:10px;
  }
}

/* styles/globals.css */

body,
body[data-theme="light"] {
  --color-text-primary: #1b1b1b;
  --color-verti-text: #fffcff;
  --color-text-secondary: #777777;
  --color-text-darkgray: #bcbcbc;
  --color-bg-primary: #fffcff;
  --color-accent: #db2e2e;
  --color-white: #fffcff;
}

body[data-theme="dark"] {
  --color-text-primary: #fffcff;
  --color-verti-text: #fffcff;
  --color-text-secondary: #777777;
  --color-text-darkgray: #333333;
  --color-bg-primary: #1b1b1b;
  --color-accent: #db2e2e;
  --color-white: #fffcff;
}